{% load static %}
<footer class="bg-footer text-center text-lg-start text-muted">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
            <!-- Content -->
            <h6 class="text-uppercase footext mb-4">
              <i class="fas fa-gem me-3"></i>About Shoprizz
            </h6>
            <p class="footext">
              This is my first Django App
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase footext mb-4 mt-4">Follow us</h6>
            <div class="d-flex justify-content-evenly">
              <a href="#!" class="text-reset"><img class="footer-img" src="{% static "image\facebook.png" %}" alt=""></a>
              <a href="#!" class="text-reset"><img class="footer-img" src="{% static "image\twitter.png" %}" alt=""></a>
              <a href="#!" class="text-reset"><img class="footer-img" src="{% static "image\instagram.png" %}" alt=""></a>
            </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase footext mb-4 mt-4">Contact Us</h6>
            <div class="mb-3">
              <form action="">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="" class="form-label footext">First Name</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="" class="form-label footext">Last Name</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label"></label>
                  <textarea class="form-control" name="" id="" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-shop">Submit</button>
              </form>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center footext p-4">
      © 2023 Copyright: <a class="text-reset fw-bold" href="">newbdev.com</a>
    </div>
    <!-- Copyright -->
  </footer>