{% extends "shop/base.html" %}
{% block title %} Shoprizz | Home {% endblock  %}
{% load static %}
{% block content %}
{% include "shop/plain-navbar.html" %}

<div class="d-flex justify-content-center mt-4 mb-5">
    <form action="{% url "register" %}" method="POST" class="form-shop">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-sm-4 col-4 text-start mt-2"><img src="{% static "image\shoprizz-F6F7EB.png" %}" class="img-fluid" alt="" width="76" height="48"></div>
            <div class="col-md-4 col-sm-4 col-4 text-center mt-5"><h2>Sign Up</h2></div>
            <div class="col-md-4 col-sm-4 col-4 text-end mt-4"><a class="custom-link" href=""><b>Need help?</b></a></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3"></div>
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="">
                        
                        {{form.as_p}}

                        <div class="text-center">
                            <button type="submit" class="btn btn-shop-dark w-50 justify-content-center">Sign Up</button>
                            <p>Already have an account? <a class="custom-link" href=""><b>Sign In</b></a></p>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3 col-3"></div>
        </div>
    </form>
</div>
{% include "shop/footer.html" %}
{% endblock  %}