.bg-shop-nav {
    background-color: #E94F37;
    font-family: 'Roboto Flex', sans-serif;
}

.bg-footer {
    background-color: #393e41;
    font-family: 'Roboto Flex', sans-serif;
    color: #f6f7eb;
}